/* Card style */
.brand-card {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: 10px;
  

  box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.08),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6),
    0 10px 30px rgba(0, 0, 0, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.06);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.brand-card:hover {
  transform: translateY(-2px);
  
}

/* Animations */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.brand-scroll-left {
  animation: scroll-left 20s linear infinite;
}

.project-scroll-left {
  animation: scroll-left 20s linear infinite;
}

.brand-scroll-right {
  animation: scroll-right 20s linear infinite;
}

.brand-scroll-left:hover,
.brand-scroll-right:hover,
.project-scroll-left:hover {
  animation-play-state: paused;
}


